*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	overflow-x: hidden;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
/*landing page starts*/

header{
	transition:  ease-out 500ms;
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color:#00203fff;
	clip-path: polygon(50% 96%, 100% 85%, 100% 0, 0 0, 0 85%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 100px;
	animation: drop-in 1s ease-out;
}
header .content{
	position: relative;
	padding:8% 20%;
	box-sizing: border-box;
}
header .content h2{
	color: #adefd1ff;
	font-size: 5rem;
	font-weight: 1000;
	animation: left-in 1.5s ease-in-out;
	animation-delay: 300ms;
}
header .content p{
	color: white;
	font-size: 1.2rem;
}
header .sign{
	position: relative;
	display: inline-block;
	padding:15px 30px;
	margin-top: 20px;
	background-color: #adefd1ff;
	text-decoration: none;
	color: #00203fff;
	animation: left-in ease 2s;
}
header .sign:hover{
	text-decoration: none;
	color: #00203fff;
	transform:scale(1.05);
	transition: ease-out 200ms;
}

/*landing page ends*/
/*navbar starts*/

.nav-list{
	text-align: center;
	margin-top: 3rem;
	display: flex;
}
.nav-item{
	list-style: none;
}
.nav-link{
	text-decoration: none;
	color: #adefd1ff;
	padding: 0 1rem;
	font-size: 0.9rem;
	transition: ease 100ms;
}
.nav-link:hover, .nav-link:focus{
	color: #00203fff;
	background-color:#adefd1ff;
	border-radius: 20px; 
}

/*navbar ends*/

/*social media starts*/

.social{
	font-size: 1rem;
	display: flex;
	margin-top: 2rem;

}
.social li{
	list-style: none;
	padding-right: 1rem;
}
.social li a{
	text-decoration: none;
	color: white;
}
.social li a:hover{
	color: #adefd1ff;
}

/*social media ends*/

/*about starts*/

.about{
	text-align: center;
	padding: 5rem 5%;
}
.heading h2{
	font-weight: 500;
	font-size: 3rem;
	margin: 2rem auto;
}
.about p{
	font-size: 1.2rem;
	animation: left-in ease 2s;
}

/*about ends*/

/*testimonial starts*/

.test {
  margin:2rem 5%;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  min-width: 300px;
}
.heading{
	text-align: center;
}

.slick-slider {
  margin: 30px auto 50px;
}

.slick-prev,
.slick-next {
  color: black;
  opacity: 1;
  height: 40px;
  width: 40px;
  margin-top: -20px;
}
.slick-prev path,
.slick-next path {
  fill: #00203fff;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

.slick-prev:before,
.slick-next:before {
  content: none;
}

.slick-dots li button:before {
  color: black;
  opacity: 1;
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
  color: #FFFFFF;
}

.quote-container {
  min-height: 200px;
  color: #666666;
  font-size: 36px;
  margin: 0 ;
  position: relative;
  padding: 0 1rem;
  animation: left-in ease 2s;
}
.quote-container:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
.quote-container .portrait {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  overflow: hidden;
}
.quote-container .portrait img {
  display: block;
  height: auto;
  width: 100%;
}
.quote-container .quote {
  position: relative;
  z-index: 600;
  padding: 40px 0 40px 180px;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4;
  font-family: Calibri;
  color: black;
}
.quote-container .quote p {
  position: relative;
  margin-bottom: 20px;
}
.quote-container .quote p:first-child:before {
  content: '\201C';
  color:#00203f2f ;
  font-size: 5em;
  font-weight: 700;
  opacity: 1;
  position: absolute;
  top: -.2em;
  left: -.6em;
  text-shadow: none;
  z-index: -10;
}
.quote-container .quote cite {
  display: block;
  font-size: 14px;
}
.quote-container .quote cite span {
  font-size: 16px;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dragging .quote-container {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
@media only screen and (max-width: 576px){
	.about{
		padding: 2rem;
	}
	.about p{
		font-size: 1rem;
	}
	.quote-container{
		display: flex;
		flex-direction: column;
	}
	.quote-container .quote p {
		  max-height: 300px;
  		  overflow: auto;
	}
	.quote-container .quote{
		padding:2rem 0;
		font-size: 15px;
	}
	.quote-container .portrait {
		height: 70px;
		width: 70px;
		position: relative;
	}
	.heading{
		text-align: center;
		margin-bottom: 4rem;
	}
	
}

/*testimonial ends*/

/*footer starts*/

footer{
	background-color: #00203f;
	color: white;
}
footer a{
	color: #adefd1ff;
	text-decoration: none;
}
footer a:hover{
	color: white;
	text-decoration: none;
}

/*footer ends*/
@keyframes left-in{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes drop-in{
	0%{
		transform: translateY(-100vh);
		opacity: 0;
	}
	100%{
		transform: translateY(0vh);
		opacity: 1;
	}
}
